
*
{margin: 0;
padding: 0;
    
}
header{
    background: #435f9b;
height: 83px;
border-bottom: 1px solid #133783;
}
.barra
{
    width:992px;
    margin: 0 auto;
    padding-top: 20px;
}
#Facebook
{
    width: 50%;
    float: left;
    color:#fff ;
    font-size: 40px;
}
.datos
{
    width:50% ;
    float: left;
}
.password
{
    float: left;
    margin-left: 15px;
    text-decoration: none ;
}
.password input[type="password"]
{
height: 20px;
width: 150px;
border: 1px solid #1d2a5b; 
}
.password a
{
color:#8fb1d8 ;
text-decoration: none;
}
.email
{
    float: left;
    color: white;
}

.email label
{
    padding-bottom: 10px;
}
.email input[type="text"]
{
    
height: 20px;
width: 150px;
border: 1px solid #1d2a5b;
}
.login-button
{
    float: left;
    margin-top:20px;
    margin-left: 20px;
}
.login-button input[type="submit"]
{
    background:#4267b2;
    border: 1px solid  #29487d;
    border-radius: 2px;
    color: #fff;
    height: 20px;
    width: 50px;
}
.formu
{
    width: 1000px;
    margin: 0 auto;
    clear: both;
    padding-left:0cm; 
}

.foto{
    margin-top: 20px;
    float: left;
    width: 50%;
 color: #0e385f;
font-size: 30px;
font-weight: bold;
}
.formulario
{
    float: right;
    width: 50%;
    
}
form{
    float: right;
}
h1 {
    padding-left: 120px;}
h1, h3
{
    float: left;
    
}

.data p{
    float: left;
    margin-top: 10px;
}
.data input[type="text"]
{
margin-bottom: 15px;
border-radius: 5px;
padding: 10px;
font-size: 16px;
border: 1px solid #bdc7d8; 
}
.data input[type="password"]
{
margin-bottom: 15px;
border-radius: 5px;
font-size: 16px;
padding: 10px;

}

.data a 
{
    text-decoration: none;
    color: #3677bc;
}
.data input[type="radio"]
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.data input[type="submit"]
{
padding: 15px 22px;
background:linear-gradient( #95d67c,#65a953);
border: 1px solid #3b6e22;
border-radius: 5px;
font-size: 25px;
color :#fff;
margin-top:15px;
margin-bottom:15px ;}
